.cardHighlight {
  min-height: 100%;
  background-color: lightblue !important;
}

.aboutMe {
  min-height: 100%;
  background-image: url(https://wallpapercave.com/wp/wp5475487.jpg);
  text-decoration-color: white;
  background-repeat: no-repeat;
  background-size: ;
  border-radius: 20px;
  padding-bottom: 0;
}

.bg{
  
 background: url("https://wallpapercave.com/wp/wp3248705.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
}