body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

body {font-family: , sans-serif;}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.course-card {
  width: 400px;
  max-height: 400px;
}

.productimg {
  width: 100px;
  height: 100px
}

.productimage {
  width: 300px;
  height: 400px;
}

.details {
  height: 350px;
  padding-bottom: 30px;
  background-color: lightgray;
}

/*.productz {
  backgrou
}*/